body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EFD9CE;
}

.chat-container {
    width: 400px;
    height: 600px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn .8s ease-in 0.3s forwards;
}

.chat-window {
    display: flex;
    flex-direction: column; /* Aligner les messages verticalement */
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
    height: 100%; /* Assurez-vous qu'il occupe toute la hauteur disponible */
    gap: 10px; /* Ajouter un espace entre les messages */
}

.user-message, .bot-message {
    display: flex;
    flex-direction: column; /* Alignement vertical pour le contenu des messages */
    max-width: 80%; /* Éviter que les messages soient trop larges */
    word-wrap: break-word; /* Permettre aux longs mots d'aller à la ligne */
}

.user-message {
    align-self: flex-end; /* Aligner les messages utilisateur à droite */
    background-color: #ffc996;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
}

.bot-message {
    align-self: flex-start; /* Aligner les messages du bot à gauche */
    background-color: rgb(255, 184, 164);
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
}


.input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background: #814100;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #814100;
}

#user-input:focus {
    outline: none;
    border: #814100 3px solid !important;
}

#user-input:hover{
    border: #814100 2px solid;
}

.chatbot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.chatbot-container h1 {
    margin: 30px;
    animation: apphaut 1s forwards;
}

.bot-message div {
    margin-bottom: 8px; /* Espacement entre les lignes */
    line-height: 1.5; /* Améliorer la lisibilité */
  }
  
  .bot-message div:first-child {
    font-weight: bold; /* Premier élément en gras pour les titres ou débuts de recettes */
  }



@keyframes apphaut{
    from{
      transform: translateY(100px);
      opacity: 0;
    }
    to{
      transform: translateY(0px);
      opacity: 1;
    }
  }