body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.chat-container {
    width: 400px;
    height: 600px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.chat-window {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ccc;
}
.user-message {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    padding: 5px;
    background-color: #ffc996;
    color: white;
    border-radius: 5px;
}

.bot-message {
    display: flex;
    align-items: center;
    margin: 10px;
    padding:5px ;
    background-color: rgb(255, 129, 94);
    border-radius: 5px;
}

.input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    margin-left: 10px;
    padding: 10px 15px;
    font-size: 16px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}